<a href="https://colab.research.google.com/github/herbertmey/AcademyPublic/blob/main/Sesion2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#test

In [1]:

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle

Saving kaggle.json to kaggle.json

In [2]:
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder

# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json

# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 22.6MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [3]:
##### Python as a programming language basics

# The usage of the hashtag represents a comment. everything on the same line and after
# will be not take into account

# If you execute the content of a cell, only the last element will be displayed
7+3
7-3
7*3
21/2
21//2 # floor division
21%2 # modulo
21**2 # exponential

441

In [4]:
21%2

1

In [5]:
7+3
7-3

4

In [6]:
21**2

441

In [7]:
gg=2 #It means that now, Python knows that the value of gg is 2

In [8]:
gg==3 #Here, '==' means: Does gg is equal to 3 ? Given that you created a variable just before saying

False

In [9]:
gg:3

In [10]:
gg==3

False

In [11]:
gg=3

In [12]:
gg==3

True

In [13]:

cities = ['Paris', 'Zurich', 'Rome', 'Berlin', 'London']

In [14]:
print(cities[0])

Paris

In [15]:
# You can access the element by the end:
print(cities[-1])

London

In [16]:
# In order to insert an element in a list: list.insert(1, element)
# To insert HK between Zurich & Milan
cities.insert(2, 'HK')
print(cities)

# In order to add an element at the end of the list:
cities.append('Rio')
print(cities)

['Paris', 'Zurich', 'HK', 'Rome', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Rome', 'Berlin', 'London', 'Rio']

In [17]:
# In order to remove an element from the list:
cities.remove('Paris')
print(cities)

['Zurich', 'HK', 'Rome', 'Berlin', 'London', 'Rio']

In [18]:
# In this list we only have textual elements, we can add some numerical one:
cities.insert(2, 848)
print(cities)
cities.append(848)
print(cities)
# You can see that we have 2 values of 848 in our list. The remove function only remove the 
# first time Python see the value:
cities.remove(848)
print(cities)
# We will see later how to delete all the values 848.

['Zurich', 'HK', 848, 'Rome', 'Berlin', 'London', 'Rio']
['Zurich', 'HK', 848, 'Rome', 'Berlin', 'London', 'Rio', 848]
['Zurich', 'HK', 'Rome', 'Berlin', 'London', 'Rio', 848]

In [19]:

# If you want to access the index (= the position) of an element in the list:
print(cities.index("HK"))

1

In [20]:
new_list = [1, 3, 5, 2]
cities = cities + new_list
print(cities)

['Zurich', 'HK', 'Rome', 'Berlin', 'London', 'Rio', 848, 1, 3, 5, 2]

In [21]:
### Loop
# while loop: loop until the condition happened -> can run to the infinity
# Ex while loop
N=15
total = 0
counter = 1
while counter <= N:
  total += counter # total = total+counter
  counter += 1
  print(total)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120

In [22]:
# for loop (most used): loop on all the defined elements of an object.
# Ex for loop
fruits = ['apple', 'pear', 'cherry']
for i in fruits:
  print(i)

apple
pear
cherry

In [23]:
# It is as well possible to do a loop within a loop (a nested loop):
list_of_list = [['a', 'b', 'c'], [1, 2, 3]]
for sub_list in list_of_list:
  print("We treat the list: ", sub_list)
  for element in sub_list:
    print('We display the element: ', element)

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [24]:
def area(length, width):
  ''' Function calculating the area of a rectangle
  Parameters:
  length: TYPE float
    Measure of the length of a rectangle
  width: TYPE float
    Measure the width of a rectangle

  Return:
    area: TYPE float
  '''
  my_area = length * width

  return my_area

area(11,4)

44

In [25]:
### Start of pandas and numpy
import pandas as pd # Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')
# Here I use the function read_csv from the pandas package and I assign it to a database named df.
# There is a lot of possible parameters in the read_csv function: Always check the documentation.
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [26]:
# You can have a look on the first lines:
df.head() #You can specify a number in the parenthesis in order to see a specific number of lines
df.tail() # It shows the last lines

# List of useful functions to have general overview on the dataframe:
df.dtypes # To see the type of each feature
df.describe() # To have some descriptive statistics
df.info() # Same as dtypes + more information such as the number of non missing values
df.shape # In order to have the number of lines and columns of the dataframe
len(df) # In order to have the number of lines

### Now let's do some data manipulation
# Select a column:
df['fixed acidity'].head(2) # If you select 1 feature: dataframe['name_feature']
# Select multiple columns
df[['fixed acidity', 'volatile acidity']].head(2) 
# If you select 2 or more features: dataframe[['feature1', 'feature2']]

# Now, let's do some filters -> select lines from a condition
mask1 = df['fixed acidity'] >7 # As we saw in the Python basics part, df['fixed acidity'] >7
# refers to a question, does the value (here, each line) is >7 ; True or False
# You can display mask1 to see how it is composed, you will see it is a list of boolean.
df[mask1].min() # Then, we integreate the list of boulean in: dataframe[list_boolean]
# The output is only composed by values >7 that we can check with the .min() function.

# You are not obliged to create a mask, you can directly write the condition within:
df[df['fixed acidity'] >7]

# You can check that indeed the output are exactly the same:
df[mask1] == df[df['fixed acidity'] >7]

# If you want to select a part of the population between 2 values:
mask2 = df['fixed acidity'].between(7,8)
# https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html

df[mask2].min()
df[mask2]['fixed acidity'].min()
df[mask2][['fixed acidity', 'density']].min()

# If you want to do several conditions, the '&' means 'and' ; the '|' means 'or'

# Here I want the residual sugars <= 1.9 or >= 2.3 , and sulphates < 0.7301
mask3 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
df[mask3].describe()

# Keep in mind, you have to associate line of script to a variable/object however it
# is not saved in memory
len(df)
df2 = df[mask3]
len(df2)

# We didn't have the time to see this but please read it
# Here I create a function having the name citric_acid_cat with the parameter x
# In the function, x will pass within a conditional statement. Given the value,
# it will return a letter (a category):
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

# Now we want to create a new feature citric_cat, which transform the numerical value
# of citric acid to the category defined above for each line of the feature.
# We could create a for loop. However the apply lambda is more efficient from a computing point of view 
# The x refers to the x of the function which is df['citric acid']
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

# When you do a mask, it is not only on numerical features but as well on categoricals:
mask5 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'] == 'A'))
df[mask5]
# On this example, I want to focus only on the category A so it is quick to write.
# However it is not always the case and you can filter through a list:

list_cat_to_keep = ['A', 'C']
mask6 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep)))
df[mask6]
# dataframe['feature'].isin(list_specified) creates the list (the pandas Series to be precise) of boolean

# To finish, you could want all the element of a feature execpt those that you specify in a list.
# Let's say, you want to analyse all the citri_cat that are not in the list (here the cat=B)
# You can use: ~dataframe['feature'].isin(list_specified) // The '~' means not isin:
mask7 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (~df['citric_cat'].isin(list_cat_to_keep)))
df[mask7] #As you see, you only have the category 'B' of citric_cat.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

      fixed acidity  volatile acidity  ...  quality  citric_cat
26              7.6              0.41  ...        5           B
34              5.2              0.32  ...        5           B
48              6.4              0.40  ...        5           B
72              7.7              0.69  ...        5           B
87              7.7              0.49  ...        5           B
...             ...               ...  ...      ...         ...
1493            7.7              0.54  ...        5           B
1496            7.7              0.54  ...        5           B
1501            7.8              0.82  ...        5           B
1514            6.9              0.84  ...        6           B
1515            6.9              0.84  ...        6           B

[143 rows x 13 columns]

In [27]:
df

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  citric_cat
0               7.4             0.700         0.00  ...      9.4        5           A
1               7.8             0.880         0.00  ...      9.8        5           A
2               7.8             0.760         0.04  ...      9.8        5           A
3              11.2             0.280         0.56  ...      9.8        6           C
4               7.4             0.700         0.00  ...      9.4        5           A
...             ...               ...          ...  ...      ...      ...         ...
1594            6.2             0.600         0.08  ...     10.5        5           A
1595            5.9             0.550         0.10  ...     11.2        6           A
1596            6.3             0.510         0.13  ...     11.0        6           A
1597            5.9             0.645         0.12  ...     10.2        5           A
1598            6.0             0.310         0.47  ...     11.0        6           C

[1599 rows x 13 columns]

In [28]:
df2

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1582            6.1             0.715         0.10  ...       0.50     11.9        5
1587            5.8             0.610         0.11  ...       0.66     10.9        6
1589            6.6             0.725         0.20  ...       0.54      9.2        5
1591            5.4             0.740         0.09  ...       0.56     11.6        6
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[893 rows x 12 columns]

In [29]:
df[mask5].describe

<bound method NDFrame.describe of       fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  citric_cat
0               7.4             0.700         0.00  ...      9.4        5           A
1               7.8             0.880         0.00  ...      9.8        5           A
2               7.8             0.760         0.04  ...      9.8        5           A
4               7.4             0.700         0.00  ...      9.4        5           A
5               7.4             0.660         0.00  ...      9.4        5           A
...             ...               ...          ...  ...      ...      ...         ...
1581            6.2             0.560         0.09  ...     11.3        5           A
1582            6.1             0.715         0.10  ...     11.9        5           A
1587            5.8             0.610         0.11  ...     10.9        6           A
1589            6.6             0.725         0.20  ...      9.2        5           A
1591            5.4             0.740         0.09  ...     11.6        6           A

[416 rows x 13 columns]>

In [30]:
df[mask5].descriptive

AttributeError: ignored